@import "../Abstracts/variables";
@import "../Abstracts/placeholders";
@import "../Abstracts/responsive-rules";
@import "../Abstracts/mixins";
@import "../Base/base";
@import "../Base/reset";
@import "../Base/typography";
@import "../Base/utilities";
@import "../Components/forms";
@import "../Components/Post";
@import "../Components/btns";

@import "../Layout/navbar";
@import "../Layout/footer";
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);}
.main-content {
  background: white;
  padding: 2.5rem 3.5rem;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
  .links {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}
.button-con{
text-align: center;
width: 100%;
}

